@model IEnumerable<BibliotecaDigital.Models.Livro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var livro in Model)
    {
        <div class="card col-md-4 p-0">
            <img class="card-img-top" src="@livro.UrlCapa" alt="..."
                 style="width: 100%; height: 300px; object-fit: cover; object-position: top;">
            <div class="card-body">
                <h5 class="card-title">@livro.Titulo</h5>
                <p class="list-group-item">@livro.Status</p>
                <hr />
                <span class="w-100 d-flex justify-content-around">
                    <span>
                        @Html.ActionLink("Favoritar", "Index", "Favorito", new { id = livro.ID }, new { @class = "btn btn-outline-danger" })
                        @Html.ActionLink("Comentar", "Index", "Comentario", new { id = livro.ID }, new { @class = "btn btn-outline-success" })
                    </span>
                    @Html.ActionLink("Informações", "Details", new { id = livro.ID }, new { @class = "btn btn-outline-primary" })
                </span>
            </div>
        </div>
    }
</div>

